1. Follow Discord's TOS
2. Be respectful with all members and staff
3. No Advertising
4. No NSFW content
5. No spamming in text or VC
6. Do not discuss about sensitive topics
7. No malicious content
8. No Self Bots
9. Do not DM the staff team If you need them #📩︱open-a-ticket
